// Declaração de variaveis 
$primary:#B2935B;
$primary-dark:#473C38;
$primary-light:#C2B19C;
$gray-light:#F0F1F0;


*{
    font-family: 'Roboto', sans-serif;  
}

h1,h2,h3,h4,h5{
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    line-height: 100%;
}

h2{
    font-size: 48px;
    color: $primary-dark;
}  

p{
    line-height: 130%;
    color: #666666;
    margin: 0;
}

body{
    margin: 0;
}

input{
    margin: 0;
    padding: 0;
}

//---- Utilitarios ----

.btn{
    display: inline-block;
    padding: 6px 25px;
    color: $gray-light;
    border-radius: 5px;
    text-decoration: none;
    background-color: $primary-dark;
    cursor: pointer;

    &:hover{
        background-color: $primary-light;
        color: $primary-dark;
    }
}

// ----- '' --------

@import 'hero';

@import 'presentation';

@import 'cards';

@import 'comment';

@import 'news';

@import 'footer';

@import 'lgpd';

